<div class="container">
    <div class="row justify-content-center">
        <h1>Encuentra tu Cuidador Ideal</h1>
        {{#each cares}}
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div class="care-list shadow-lg p-3 mb-5 bg-light rounded" >
                <br>
                <img src="{{profilePic}}" class="rounded-circle" width="290" height="370" alt="profile-picture">
                <div >
                    <br>
                    <h5 class="card-title"> {{username}}</h5>
                    <br>
                    <p> Experiencia:
                        {{description}}
                    </p>
                    <br>
                    <br>
                    <a  href="/profile/contact/{{id}}" class="btn btn-light" style="--bs-text-opacity: .5">Ver Informaci칩n de Contacto</a>
                    <br>
                    <a  href="review/create/{{id}}" class="btn btn-light" style="--bs-text-opacity: .5"> Escribe una rese침a a este cuidador</a>
                    <br>
                    <a href="review/{{id}}" class="btn btn-light" style="--bs-text-opacity: .5"> Mira las rese침as de otros due침os sobre este
                        cuidador!</a>
                    <br>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>