<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Encuentra tu Cuidador Ideal</h1>
            {{#each cares}}

            <ul>
                <br>
                <li>
                    <img src="{{profilePic}}" alt="profile-picture">
                </li>
                <br>
                <li>
                    <h3> {{username}}</h3>
                </li>
                <br>
                <li> Información:
                    {{description}}
                </li>
                <br>
                <br>
            </ul>

            <a class="btn" href="/profile/contact/{{id}}">Ver Información de Contacto</a>
            <a class="btn" href="review/create/{{id}}"> Escribe una reseña a este cuidador</a>
            <a class="btn" href="review/{{id}}"> Mira las reseñas de otros dueños sobre este cuidador!</a>
            {{/each}}
        </div>
    </div>
</div>