<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Encuentra tu Cuidador Ideal</h1>
            {{#each cares}}

            <ul>
                <br>
                <li>
                    <h3> {{username}}</h3>
                </li>
                <br>
                <li> Tipo de perro:
                    {{dogSize}}
                </li>
                <br>
                <li> Experiencia:
                    {{description}}
                </li>
                <br>
                <br>
            </ul>
            <a class="btn" href="/profile/contact/{{id}}">Ver Informaci칩n de Contacto</a>
            <a class="btn" href="review/create/{{id}}"> Escribe una rese침a a este cuidador</a>
            <a class="btn" href="review/{{id}}"> Mira las rese침as de otros due침os sobre este cuidador!</a>
            {{/each}}
        </div>
    </div>
</div>