<h1> Bienvenido a tu perfil {{user.username}}</h1>


<a href="/profile/{{user._id}}/edit"> Edita tu perfil</a>

{{#if isOwner}}
<h2>Aqui est치 la informaci칩n de tu perrete</h2>

{{#each dogs}}
<li>Nombre:{{name}}</li>
<li>A침os:{{age}}</li>
<li>Descripci칩n:{{description}}</li>
<a href="/profile/{{../user._id}}/edit/dog/{{_id}}"> Edita los datos de tu perrete!</a>
{{/each}}


{{/if}}