<form action="/dog/search" method="GET" style="display:inline-block;">

    <input type="text" name="breed">
    <input type="submit" value="Busca información sobre una raza">

</form>



{{#if name}}
<h1> Informacion sobre {{name}}</h1>

<p>{{name}}</p>
<p>weight: {{weight.imperial}}</p>
<p>Height: {{height.imperial}}</p>
<p>Temperament: {{temperament}}</p>
<p>Life Span: {{life_span}}</p>
<p>Breed Group:{{breed_group}}</p>
<p>Bred for: {{bred_for}}</p>
<img src="{{image.url}}" alt={{name}} picture>


{{/if}}