<div class="container">
    <div class="row justify-content-center">

        <form class="searchForm" action="/dog/search" method="GET">

            <input class="btn-light" height="20px" style="--bs-text-opacity: .5" type="text" name="breed">
            <input class="btn btn-light" style="--bs-text-opacity: .5" type="submit"
                value="Busca información sobre una raza">

        </form>
        {{#if name}}
        <h1> Informacion sobre {{name}}</h1>
        <br>
        <div class="col-6">
           
            <img src="{{image.url}}" alt={{name}} picture>
            <br>
        </div>
        <div class="col-6">
            <div class="card" width="200px">
                <br>
                <p>Name: {{name}}</p>
                <hr>
                <br>
                <p>weight: {{weight.imperial}}</p>
                <hr>
                <br>
                <p>Height: {{height.imperial}}</p>
                <hr>
                <br>
                <p>Temperament: {{temperament}}</p>
                <hr>
                <br>
                <p>Life Span: {{life_span}}</p>
                <hr>
                <br>
                <p>Breed Group:{{breed_group}}</p>
                <hr>
                <br>
                <p>Bred for: {{bred_for}}</p>
                <br>
            </div>
        </div>

        {{/if}}
    </div>
</div>